<main class="row justify-content-center align-items-center" id="login-view">
  <section class="row justify-content-center" id="post-list">
    {{#each posts as |post|}}
      {{> post}}
    {{/each}}
  </section>
</main>